<div class="post">
   <p>Це головна сторінка тут має бути багато гарного тексту про то наскільки той сайт прикольний.<br><br>
   
   
   Інститут трансформації суспільства з 2013 року
впроваджує новий проект наукової, освітньої та культурної
співпраці з польськими університетами.
Одним із напрямів такої співпраці є спільна організація
Інститутом трансформації суспільства (ІТС, Україна) та
Державною вищою техніко-економічною школою
ім. о.Броніслава Маркевича (PWSTE) в Ярославі (Польща)
навчання української молоді. 
Інститут трансформації суспільства з 2013 року
впроваджує новий проект наукової, освітньої та культурної
співпраці з польськими університетами.
Одним із напрямів такої співпраці є спільна організація
Інститутом трансформації суспільства (ІТС, Україна) та
Державною вищою техніко-економічною школою
ім. о.Броніслава Маркевича (PWSTE) в Ярославі (Польща)
навчання української молоді. 
Інститут трансформації суспільства з 2013 року
впроваджує новий проект наукової, освітньої та культурної
співпраці з польськими університетами.
Одним із напрямів такої співпраці є спільна організація
Інститутом трансформації суспільства (ІТС, Україна) та
Державною вищою техніко-економічною школою
ім. о.Броніслава Маркевича (PWSTE) в Ярославі (Польща)
навчання української молоді. 
Інститут трансформації суспільства з 2013 року
впроваджує новий проект наукової, освітньої та культурної
співпраці з польськими університетами.
Одним із напрямів такої співпраці є спільна організація
Інститутом трансформації суспільства (ІТС, Україна) та
Державною вищою техніко-економічною школою
ім. о.Броніслава Маркевича (PWSTE) в Ярославі (Польща)
навчання української молоді.
</p>

</div>